/* styles.css */
/* General Game Styles */
#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image:url('https://images.unsplash.com/photo-1495012379376-194a416fcc5f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjU2OTY0MjJ8&ixlib=rb-4.0.3&q=85');
      background-size: cover; /* Ensures the image covers the element */
    background-repeat: no-repeat;
   
}
/* Rod Styles */
#rod {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: #8B4513; /* Brown for the rod */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: flex-end;
    pointer-events: none; /* Ensure it doesn’t interfere with mouse events */
}
/* Fish Styles */
.fish {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
}

/* Golden Fish */
.fish[data-type="golden"] {
    filter: brightness(1.5);
}

/* Trash */
.fish[data-type="trash"] {
    opacity: 0.7;
}

/* Electric Fish */
.fish[data-type="electric"] {
    filter: hue-rotate(200deg);
}

/* electric-plant Styles */
#electric-plant {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: red; /* Temporary color to see if it's visible */
    position: absolute; /* Ensure it's positioned absolutely within the game area */
}
/* Score Styles */
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #fff; /* White text for better visibility */
    z-index: 10; /* Ensure score is on top of other elements */
}
/* Game Over Screen Styles */
#game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent dark background */
    display: none; /* Hide by default */
    justify-content: center;
    align-items: center;
    color: #fff; /* White text for better visibility */
    font-size: 2rem;
    text-align: center;
    z-index: 20; /* Ensure game-over screen is on top of all other elements */
}
#game-over-message {
    background: #000; /* Black background for the message */
    padding: 20px;
    border-radius: 10px;
}
#game-result {
    font-size: 2rem;
    margin-bottom: 20px;
}
#retry-btn, #exit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff; /* White background for the button */
    color: #000; /* Black text for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
#retry-btn:hover, #exit-btn:hover {
    background-color: #ddd; /* Light grey background on hover */
}

